<md-toolbar layout="row" class="md-toolbar-tools md-whiteframe-2dp md-toolbar">
	<div class="left-md-toolbar" flex="70" layout="row">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toogleLeftSideNavBar()">
      <md-icon md-svg-icon="assets/icons/ic_menu_black_24px.svg"></md-icon>
    </md-button>
    
	<!-- <div class="right-md-toolbar" flex="10" flex-offset="30">
		<md-button class="md-raised md-primary fr" ng-click="fncLogout()">
			Logout
		</md-button>
	</div> -->
</md-toolbar>